{% load utils %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <meta name="viewport" content="{{ viewport_options|default:"width=device-width,initial-scale=1" }}">
    <title>{{ title|default:"Untitled Page" }}</title>
    <meta name="author" content="{{ author|default:"Günthner" }}">
    <link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}"/>
    {% load_css "style" %}
    <link rel="icon" type="image/png" href="https://{{ request.get_host }}/static/images/site/icon.png">
    {% block head %}
    {% endblock %}
</head>
<body>
{% include "navigation_bar.html" %}
<div id="main-container-container">
    <div id="main-container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <div class="phantom-footer"></div>
</div>
</body>
<footer>
    <div>
        {{ author|default:"Günthner" }}'s Website; {{ website_version|default:"Version not found" }}
    </div>
</footer>

{% block post %}
{% endblock %}
</html>