{% extends "base.html" %}
{% load utils %}
{% block head %}
    {{ "A simple chat, currently once again work in progress" | add_description }}
    {% load_css "navigation" %}
    <style>
        div.center {
            text-align: center;
            padding-top: 50px;
        }

        pre.center {
            display: inline-block;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <h3>A simple chat, currently once again work in progress</h3>
{% endblock %}