{% extends "base.html" %}
{% load utils %}
{% block head %}
    {{ "Change your password for guenthner.xyz here"|add_description }}
    {% load_css "navigation" %}
    <style>
        .error-msg {
            color: darkred;
        }

        .spacing {
            height: 10vh;
        }

        main, form {
            text-align: center;
        }

        form div * {
            display: block;
        }

        form input[type="password"] {
            width: 20em;
        }

        .form-row {
            margin: 20px auto;
            width: fit-content;
            text-align: center;
        }


        .hints {
            border: 3px solid black;
            padding: 10px 20px;
            text-align: left;
        }

        .input-block {
            text-align: left;
            width: fit-content;
            margin: auto;
        }

        form ul {
            padding: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="spacing">
    </div>

    <form method="post">
        {% csrf_token %}

        <div>
            <h1>Changing password for {{ request.user }}</h1>
            {{ form.non_field_errors }}
        </div>

        <div class="form-row">
            <div class="input-block">
                <label for="{{ form.old_password.id_for_label }}">Old password:</label>
                {{ form.old_password }}
            </div>
            <div class="error-msg">{{ form.old_password.errors }}</div>
        </div>

        <div class="form-row">
            <div class="input-block">
                <label for="{{ form.new_password1.id_for_label }}">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="error-msg">{{ form.new_password1.errors }}</div>
        </div>

        <div class="form-row">
            <div class="input-block">
                <label for="{{ form.new_password2.id_for_label }}">Confirm new password:</label>
                {{ form.new_password2 }}
            </div>
            <div class="error-msg">{{ form.new_password2.errors }}</div>
        </div>

        <input type="submit" value="Submit">
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="user" autocomplete="username" value="{{ request.user }}">

        <div class="form-row hints">
            {{ form.new_password1.help_text }}
        </div>
    </form>

{% endblock %}