{% extends "base.html" %}
{% load utils %}
{% block head %}
    {{ "Your password change has been completed"|add_description }}
    {% load_css "navigation" %}
    <style>
        .error-msg {
            color: darkred;
        }

        .spacing {
            height: 10vh;
        }

        main, form {
            text-align: center;
        }

        form div {
            text-align: left;
            width: fit-content;
            margin: auto;
        }

        form div * {
            display: block;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="spacing">
    </div>

    <p>
        Password change for {{ request.user }} successful
    </p>
    <script>
        setTimeout(() => {
            history.back()
        }, 1000)
    </script>
{% endblock %}