{% extends "base.html" %}
{% load utils %}

{% block head %}
    {% load_css "navigation" %}
    {% load_css "files/file_viewer" %}

    <script>
        function api_url(api, path) {
            return "{% url "private:ffs" %}" + api + "/" + encodeURIComponent(path)
        }
    </script>
    {% load_alpine %}
    {% load_js "files/load_files" extra_args="defer" %}
    {% load_js "files/add_metadata" extra_args="defer" %}
    {% load_js "files/upload" extra_args="defer" %}
    {% load_js "files/actions" extra_args="defer" %}
{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 0;">
        Hello, {{ request.user }}
    </h1>
    <span><strong>Menu:</strong>
        <button class="custom-button"
                :class="$store.tab=='view' && 'selected'"
                x-data
                @click="$store.tab='view'"
                @keyup.v.window="$store.tab='view'">View</button>
          <button class="custom-button"
                  :class="$store.tab=='upload' && 'selected'"
                  x-data
                  @click="$store.tab='upload'"
                  @keyup.u.window="$store.tab='upload'">Upload</button></span>

    <div id="file_view_container" class="tab-container" x-data x-cloak x-show="$store.tab=='view'">
        <table id="file_view" cellspacing="0">
            <thead>
            <tr>
                <th><input
                        type="checkbox"
                        x-effect="$el.checked = $store.files.every(f=>f.selected)"
                        @change="$store.files.forEach(f=>f.selected=$el.checked)"></th>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
            <tr class="thin-row">
                <th class="thin-row" colspan="6" style="text-align: left">
                    <button class="custom-button" @click="new_file()">New File
                    </button>
                    <button class="custom-button" @click="new_dir()">
                        New Folder
                    </button>
                    <button class="custom-button" x-text="'Move '+count_selected()+' Files'"
                            @click="move_files()">
                    </button>
                    <button class="custom-button" x-text="'Delete '+count_selected()+' Files'"
                            @click="delete_files()">
                    </button>
                </th>
            </tr>
            </thead>
            <tbody class="alternate-container">
            <template x-data x-for="file in $store.files">
                <tr class="alternate" :class="file.selected && 'selected'" @click.self="file.selected = !file.selected">
                    <td @click.self="file.selected = !file.selected">
                        <input type="checkbox" x-model="file.selected">
                    </td>
                    <td @click.self="file.selected = !file.selected" x-html="file.icon"></td>
                    <td @click.self="file.selected = !file.selected"><a :href="api_url('files', file.path)"
                                                                        x-text="file.name"></a></td>
                    <td @click.self="file.selected = !file.selected" x-text="file.type"></td>
                    <td @click.self="file.selected = !file.selected" x-text="file.size" style="text-align: right"></td>
                    <td @click.self="file.selected = !file.selected">
                        <button @click="rename_file(file)">Rename</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <div id="upload_container" class="tab-container" style="margin-top: 20px" x-data x-cloak
         x-show="$store.tab=='upload'">
        <form id="file_input_container"
              @submit.prevent="upload_files_from($refs.files)"
              @keyup.alt.u.window.prevent="upload_files_from($refs.files)">
            <strong style="display: block">Direct File Upload:</strong>
            <label for="file-input">
                File to upload:
            </label>
            <input type="file" multiple x-ref="files"
                   @keyup.shift.u.window.prevent="$el.click()">
            <button style="display: block">Upload file</button>
        </form>
        <div id="status_messages" class="alternate-container">
            <template x-for="msg in $store.status">
                <div>
                    {# Here are all the different possible status messages #}
                    <template x-if="msg.type == 'plain'">
                        <div x-text="msg.content" class="status-message"></div>
                    </template>
                    <template x-if="msg.type != 'plain'">
                        <div class="status-message">
                            Uploading file "<span x-text="msg.upload.name"></span>" to
                            "<span x-text="msg.upload.path"></span>".
                            <span x-text="msg.upload.percentage"></span> completed.
                            <span x-text="msg.upload.finalisation_msg"></span>
                            <div style="display: flex; flex-wrap: wrap">
                                <template x-for="packet in msg.upload.packets">
                                    <span class="dot" :style="'background-color:'+packet.color"></span>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>

    <script>
        const current_path = "{{ path }}";
        const net_block_size = {{ net_block_size }};
        const csrf_token = "{{ csrf_token }}";

        document.addEventListener("alpine:init", () => {
            Alpine.store("tab", "view")
            Alpine.store("files", [])
            Alpine.store("status", [])
        })

        function count_selected() {
            return Alpine.store("files").filter(f => f.selected).length;
        }
    </script>

{% endblock %}