{% extends "base.html" %}
{% load utils %}

{% block head %}
    {% load_css "navigation" %}
    {% load_css "files/simple_table" %}
    {% include "private/common.html" %}

    <title x-data x-text="get_name()">{{ name }}</title>

    <script>
        const current_path = "{{ parent }}";
        const name = "{{ name }}";
        const csrf_token = "{{ csrf_token }}";

        function get_images() {
            return Alpine.store("files")
                .filter(f => f.type !== '' && image_mime_re.test(f.type));
        }

        function get_name() {
            const files = get_images();
            const index = Alpine.store("index");
            if (index >= files.length) return name;
            else return files[Alpine.store("index")].name;
        }

        function load_current_exif() {
            const index = Alpine.store("index");
            const exif = Alpine.store("exif");

            exif[index] = Alpine.reactive({});
            document.dispatchEvent(new CustomEvent("loadexif", {detail: {name: get_name(), to: exif[index]}}))
        }

        function current_exif() {
            const index = Alpine.store("index");
            const exif = Alpine.store("exif");

            if (!exif.hasOwnProperty(index)) {
                load_current_exif();
            }
            return exif[index];
        }

        window.addEventListener("alpine:init", () => {
            Alpine.store("files", Alpine.reactive([]));
            Alpine.store("index", 0);
            Alpine.store("exif", Alpine.reactive({}));
        });

    </script>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            margin: 5px;
        }
    </style>
    {% load_alpine %}
    {% load_js "files/load_files" extra_args="defer" %}
    {% load_js "files/add_metadata" extra_args="defer" %}
    {% load_js "files/actions" extra_args="defer" %}
    {% load_js "files/image_view" extra_args="defer" %}
{% endblock %}

{% block content %}
    <div x-data class="center" style="margin: 0 10px">
        <button @click="change(-1)"
                @keyup.left.window="change(-1)"
                x-show="$store.index > 0">
            Previous
        </button>
        <span x-text="$store.index + 1"></span> /
        <span x-text="get_images().length"></span>
        <button @click="change(1)"
                @keyup.right.window="change(1)"
                x-show="$store.index+1 < get_images().length">
            Next
        </button>
    </div>
    <div x-data class="center" style="margin: 0 10px">
        <button x-text="'Delete '+get_name()"
                @click="delete_current()"
                @keyup.delete.window.prevent="delete_current()">Delete
        </button>
    </div>
    <p class="center">
        <a x-data :href="api_url('raw', current_path + '/' + get_name())" style="width: 90vw; border: 1px solid black">
            <img alt="" src=""
                 x-data :alt="name" :src="api_url('raw', current_path + '/' + get_name())">
        </a>
    </p>
    <p x-data x-show="Object.entries(current_exif()).length > 0">
    <table>
        <caption>Metadata</caption>
        <thead>
        <tr>
            <td>Name</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <template x-data x-for="entry in Object.entries(current_exif())">
            <tr>
                <td x-text="entry[0]"></td>
                <td x-text="entry[1]"></td>
            </tr>
        </template>
        </tbody>
    </table></p>
{% endblock %}