{% extends "base.html" %}
{% load utils %}

{% block head %}
    {% load_css "navigation" %}
{% endblock %}

{% block content %}
    <h1>FFS</h1>
    <h3>Hi {{ request.user }}, you are successfully logged in.</h3>

    <ul class="navigation">
        <li><a href="{% url "private:api" "files" %}">Files</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </li>
        <li><a href="{% url "change-password" %}">Change Password</a></li>
    </ul>
{% endblock %}