{% extends "base.html" %}
{% load utils %}
{% load humanize %}
{% block head %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "{{ first_name }} {{ last_name }}",
            "familyName": "{{ last_name }}",
            "givenName": "{{ first_name }}",
            "affiliation": {
                 "@type": "CollegeOrUniversity",
                 "name": "University of Augsburg",
                 "sameAs": "https://en.wikipedia.org/wiki/University_of_Augsburg"
            },
            "email": "j@guenthner.xyz"
        }
    </script>

    {{ "The personal Webpage of Jonathan Günthner. I am a mathematician at the University in Augsburg, I also like to code hence this website."|add_description }}
    {% load_css "navigation" %}
    {% load_css "random_math_field" %}
    <!-- KaTeX here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.css"
          integrity="sha384-o3WH+1yEhq+grOgz1BVYTZPyTlMXrDxnjN1By9/ba94JqJhva6wFm2Hb+URQX53v" crossorigin="anonymous">
    <script id="katex-script" defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.js"
            integrity="sha384-C5yZTsgLOfuizO9kb+hrB8uSBwwvZ4yenKWU0KmWl+7bkL6Tph/KbcOa3S4zdoRE"
            crossorigin="anonymous"></script>
    <style>
        div {
            margin-bottom: 6px;
        }

        .opti-bold {
            color: black;
            text-decoration: none;
            font-weight: bolder;
        }

        .opti-bold:hover {
            text-decoration: black underline;
        }

        .rainbow-text {
            font-weight: bolder;
            background-image: linear-gradient(90deg, red, orange, yellow, green, blue, violet);
            color: transparent;
            -webkit-background-clip: text;
            filter: brightness(80%);
        }

        .accessibility-only {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }

        pre {
            font: inherit
        }

        .barely-visible {
            opacity: 80%;
        }

        .plain-link {
            text-decoration: none;
            color: black;
        }
    </style>
    {% load_js "client_name" extra_args="async" %}
{% endblock %}
{% block content %}
    <h1>The personal webpage of {{ first_name }} {{ last_name }}
    </h1>
    <div>
        I am a mathematician that likes to code
        <span class="barely-visible">
        (and a <a class="plain-link" href="https://de.wikipedia.org/wiki/Eichh%C3%B6rnchen">squirrel</a>).
    </span>
    </div>
    <div>
        I am currently stu<a class="opti-bold" href="https://en.wikipedia.org/wiki/Pun">dying</a> in
        my {{ semester|ordinal }} semester at the university in <a
            href="https://en.wikipedia.org/wiki/Beauty">Augsburg</a> and struggling with
        <a class="rainbow-text" href="https://en.wikipedia.org/wiki/Depression_(mood)">depression</a>. Perhaps
        the <span class="random-math-field" data-singular="<FIELD> has" data-plural="<FIELD> have">algebra has</span>
        gotten
        to me...
    </div>
    <div>
        Did you know that
        <a class="plain-link latex" href="https://guenthner.xyz/math/paper">\newcommand{\ord}{\mathop{\text{ord}}}
            \ord_{p^k}(m) = \ord_{p}(m) \cdot p^{\max(0, k - k_0 + 1)}</a>
        for
        <a class="plain-link latex" href="https://en.wikipedia.org/wiki/2">p\not=2</a>?
    </div>
    <div>
        <pre>
Kind regards,
J. {{ last_name }}</pre>
    </div>
    <div>
        <pre>
P.S.:
Here are a couple of links:</pre>
        <ul class="navigation">
            <li><a href="{% url 'root:math' %}">Math</a></li>
            <li><a href="{% url 'root:pretty' %}">Pretty</a></li>
            <li><a href="{% url 'root:memes' %}">Memes</a></li>
            <li><a href="{% url 'root:creations' %}"
                   style="font-family: monospace; padding: 6px 1px 4px 1px">Creations</a></li>
            <li>My Mail Address: <a href="mailto:j@guenthner.xyz">j@guenthner.xyz</a></li>
            <li>My github: <a href="https://github.com/Askhor">Askhor</a></li>
            <li style="display: none"><a rel="me" href="https://mastodon.social/@guenthner">Mastodon</a></li>
            <li>My <a href="https://guenthner.xyz/info/J. Günthner - Key.gpg" download>GPG Public Key</a></li>
        </ul>
    </div>
{% endblock %}

{% block post %}
    {% load_js "random_math_field" %}
    <script>
        document.getElementById("katex-script").addEventListener("load", _ => {
            console.log("Rendering LaTeX");
            document.querySelectorAll(".latex").forEach(el => {
                katex.render(el.textContent, el);
            })
        })
    </script>
{% endblock %}